.profile-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 20px;
  max-width: 85%;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: flex-start;
}
.pro_left_card {
  flex: 1;
}
.profile-image {
  width: 100%;
  height: auto;
  flex: 1;
  border-radius: 5px;
}
.user_data_card_new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.user_data_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.user_data_card_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}
.profile-actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.update-button,
.delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.user_data_card_item_bio {
  width: 100%;
  font-size: 15px;
  color: #565555;
  font-weight: 500;
  margin-top: 8px;
  font-style: italic;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.update-button {
  background-color: #4caf50;
  color: white;
  margin-right: 10px;
}
.username_card {
  font-size: 35px;
  font-weight: 500;
  text-align: start;
  width: 100%;
  text-transform: capitalize;
}
.delete-button {
  background-color: red;
  color: white;
}
.my_post_link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.my_post_link_card {
  width: 380px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.my_post_name_img1 {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-image: url("./img/post.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.my_post_name_img2 {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-image: url("./img/skilpost.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.my_post_name_img3 {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-image: url("./img/achive.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.my_post_link_card_name{
  width: 80%;
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
}